@charset "utf-8";

html{
  font-size: 100%;
}

body{
  font-size: 1rem;
  margin: 0;
  font-family: 'Noto Sans','Noto Sans JP';

}

a{
    text-decoration: none;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

.wrapper{
  max-width: 1200px;
  padding: 0 16px;
}

.readmore a{
  position: relative;
  display: inline-block;
}

.readmore a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: black;
  transition: all 200ms ease;
}

.readmore a:hover::after{
  opacity: 0;
  transform: translateY(3px);
}

/* header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 10;
}

.header{
  line-height: 1px;
  margin: 0 auto;
  padding: 20px 16px;
  box-sizing: border-box;

  img{
    width: 145px;
    height: 30px;
  }
}

.nav-menu{
  background-color: rgb(41, 41, 41);

  .nav-list{
    box-sizing: border-box;
    margin: 0 auto;

    ul{
      display: flex;
      margin: 0;
      padding: 0;

      li{
        padding: 8px 60px 8px 0;

        a{
        font-size: 0.85rem;
        color: white;
        }
      }
    }
  }
}

/* main */

main{
  margin-top: 150px;
}
.picup-list{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 40px;


  .picup{
    width: 32%;

    img{
      max-width: 1200px;
      width: 100%;
    }

    h3{
      font-size: 0.85rem;
      letter-spacing: 2px;
    }

    .readmore{
      text-align: center;
      font-size: 0.85rem;

      a{
      color: black;
      }

    }

  }
}



.content{

  font-size: 0.9rem;
  margin-top: 64px;

  &:nth-child(1){
    margin-top: 0;
  }

  a{
    color: black;
  }

  img{
    margin-top: 8px;
  }

  .time{
    margin-right: 16px;
  }

  .content-text{
    padding: 0 40px;
    font-size: 0.85rem;
    letter-spacing: 2px;
    line-height: 24px;
  }

  .readmore{
    text-align: center;
  }
}

.name{

  .name-text{
    font-size: 0.78rem;
    letter-spacing: 2px;
  }

  img{
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 0 auto;
  }

  h3{
    text-align: center;
    margin-top: 32px;
  }

  .name-text{
    margin-top: 32px;
  }
}

.flex{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 64px auto 0;
  

  .flex-item1{
    width: 66%;

  }

  .flex-item2{
    width: 30%;
  }
}

.ranking{

  margin-top: 58px;


  h3{
    text-align: center;
  }

  .ranking-text{
    margin: 0;
    font-size: 0.78rem;
    letter-spacing: 2px;
  }

  .ranking-1{
    margin-top: 32px;
  }
  .ranking-2{
    margin-top: 32px;
  }
  .ranking-3{
    margin-top: 32px;
  }
}

.archive{

  margin-top: 58px;

  h3{
    text-align: center;
  }

  ul{

    padding: 0;
    margin-top: 32px;

    li{
      padding: 20px 0;
      border-top: 1px solid black;
      font-size: 0.8rem;

      &:nth-child(15){
        border-bottom: 1px solid black;
      }

      a{
        color: black;
        padding-left: 16px;
      }
    }

    }
  }


  /* footer */

  footer{
    background: rgb(241, 239, 239);
    margin-top: 128px;
    padding-bottom: 8px;

    a{
      color: black;
    }


    .footer{
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 32px 16px;
      
      .item{
        width: 31%;
      }

      .about{

        p{
          font-size: 0.78rem;
          letter-spacing: 2px;
          margin-top: 32px;
          line-height: 20px;
        }
        ul{
          font-size: 0.78rem;
          letter-spacing: 2px;
          padding: 0;
          margin-top: 16px;

          li{
            margin-top: 4px;
          }
        }
      }

      .menu{

        ul{
          padding: 0;
          font-size: 0.8rem;
          margin-top: 32px;

          li{
            padding: 16px 0;
            border-top: 1px solid black;

            &:nth-child(5){
              border-bottom: 1px solid black;
            }

              a{
                padding-left: 16px;
              }
            
          }
        }
      }

      .twitter{
        font-size: 0.85rem;
        
        p{
          margin-top: 32px;
        }
      }
    }

    .small{
      font-size: 0.8rem;
      text-align: center;
    }
  }

    @media(max-width: 767px){

    .picup-list{
      flex-direction: column;

      .picup{
        width: 100%;
        margin-top: 32px;
      }
    }

        .flex{
      flex-direction: column;

      .flex-item1{
        width: 100%;
      }

      .flex-item2{
        width: 100%;
      }
    }

    .name{
      margin-top: 32px;
    }

    .footer{

      flex-direction: column;
    }
    
    footer .footer .item{
      width: 100%;
    }

    .twitter{
      margin-bottom: 32px;
    }

  }
