@charset "utf-8";

body{
  margin: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  display: block;
}

/* header */

#header{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 44px;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 10;
}

#mask{
  display: none;
}

#nav{
  box-sizing: border-box;
  width: 300px;
  height: 100vh;
  background: rgb(24, 24, 24);
  padding: 64px 20px;
  z-index: 20;
  position: fixed;
  opacity: 0;
  display: none;

  a{
    text-decoration: none;
    color: white;
  }

  .menu-tag{
    display: block;

    li{
     border-top: 1px solid white;
     padding: 24px 0;
     font-size: 0.85rem;

     &:nth-child(3){
      border-bottom: 1px solid white;
     }
    }
  }

  .sns{
    display: block;
    margin-top: 64px;
    
    li{
      margin-top: 16px;
    }
  }
}



#nav.active{
  display: block;
  animation: fadein 0.5s ease forwards;
}

@keyframes fadein{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }

  80%{
    opacity: 1;
  }

  100%{
    transform: translateX(0px);
    opacity: 1
}};


#mask.active{
  opacity: 1;
  display: block;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  pointer-events: auto;
}

h1{
  margin: 0;
}

#menu{
  display: block;
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9999;
}


span{
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background: black;
}

span:nth-child(1){
  top: 4px;
}



#menu.active span:nth-child(1){
  animation: rotateopen1 0.5s ease forwards;
}

@keyframes rotateopen1{
  0%{
    transform: translateY(0px) rotate(0deg);
    background: #000;
  }

  100%{
    transform: translateY(10px) rotate(315deg);
    background: #fff;
  }
}

span:nth-child(2){
  top: 14px;
}

#menu.active span:nth-child(2){
  animation: fadeout 0.5s ease forwards;
}

@keyframes fadeout{
  0%{
    opacity: 1;
  }

  80%{
    opacity: 0;
  }

  100%{
    opacity: 0;
  }
}


span:nth-child(3){
  bottom: 4px;
}

#menu.active span:nth-child(3){
  animation: rotateopen2 0.5s ease forwards;
}

@keyframes rotateopen2{
  0%{
    transform: translateY(0px) rotate(0deg);
    background: black;
  }


  100%{
    transform: translateY(-10px) rotate(-315deg);
    background: white;
  }
}


/* main */


h1{
  text-align: center;
}

.video video{
  object-fit: cover;
  width: 100%;
}

ul{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.future{
  max-width: 1240px;
}

.future-content{
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);

  img{
    width: 100%;
  }

  .fade-up{
    animation: fadeup 1s ease-out forwards;
  }
  
  @keyframes fadeup{
    0%{
      opacity: 0;
      transform: translateY(30px);
    }

    80%{
      opacity: 1;
    }

    100%{
      opacity: 1;
      transform:translateY(0px);
    }
  }

  p{
    margin-top: 0;
  }

  h5{
    line-height: 20px;
  }

  .text{
    padding: 32px;

    time{
      display: inline-block;
      width: 100%;
      text-align: right;
    }
  }
}

footer{
  background: black;
  color: white;
  padding: 64px 16px 10px;



  .contact{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .contact-text{
      width: 45%;
    }
  }

  h1{
    color: white;
  }

  .form{
    width: 45%;

    dl{

      dd{
        margin: 0;
        padding: 0;

        input{
          width: 100%;
          height: 40px;
        }

        textarea{
          width: 100%;
          height: 70px;
        }
      }
    }

    button{
      border: 1px solid white;
      color: white;
      background: black;
      width: 200px;
      height: 50px;
    }
  }

  .small{
    text-align: center;
  }
}


#pick-up{
  padding: 100px 0;
}